/*

Author: João Amaral
Description: Custom CSS style for Yaraku Library
Date: August 2014 
Version: 1.0

*/

body {
  padding-top: 70px;
  background-color: #aaa;
  font-family: 'Open Sans', sans-serif; 
  font-weight: 300;
}

#brand {
  background-image: url(../svg/Yaraku_logo_white.svg);
  background-size: 25px 25px;
  padding-left: 25px;
  padding-top: 2px;
  background-repeat: no-repeat;
  height: 25px;
  width: 175px;
  border: 0px;
}

#requirements ul { 
  text-align: left; 
  list-style-type: none; padding: 0; margin-left: 38%;
}


/* bootstrap custom css styles */
.starter-template {
  text-align: center;
}

.starter-template h1 {
	font-weight: 800;

}


.navbar-inverse .navbar-brand, 
.navbar-inverse .navbar-brand:hover  { 
	color: white;
}

.footer {
  padding: 15px 15px;
  text-align: center;
}

.cc {
	height: 32px;
	width: 32px;
	border-width:0;
}

.text-muted a {
	color:black;
}

.text-muted a:hover{
	color:black;
	font-weight: 300;
}

.text-danger {
  font-weight: bold;
}
.form-group.required .control-label:after {
  content:"*";
  color:red;
}

.input-group {
	padding: 10px;

}

.alert-info {
  color: #000;
  background-color: #999;
  border-color: #888;
  border-radius:20px;
}

.fader {
  opacity: 0;
  -webkit-transition: opacity 0.30s linear;
  -moz-transition: opacity 0.30s linear;
  -o-transition: opacity 0.30s linear;
  transition: opacity 0.30s linear;
}
.fader.in {
    opacity: 1;
}

/* backgrid.js custom css styles */

.backgrid-container {
  position: relative;
  display: block;
  height: 494px;
  padding: 0;
  overflow: auto;
  border: 1;
  top: 10px;
}

.backgrid th {
	background-color: #f00;
}

.backgrid tbody tr:nth-child(even) {
  background-color: #bbb;
}

.backgrid .remove-cell{
  text-align: center;
}

.backgrid-filter.form-search {
  margin-right: 0px;
  float: right;
}

/* Google Web fonts and effect for offline use */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src:  local('Open Sans Light'), 
        local('OpenSans-Light'), 
        url(fonts/OpenSans-Light.woff2) format('woff2'), 
        url(fonts/OpenSans-Light.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src:  local('Open Sans Extrabold'), 
        local('OpenSans-Extrabold'), 
        url(fonts/OpenSans-Extrabold.woff2) format('woff2'), 
        url(fonts/OpenSans-Extrabold.woff) format('woff');
}

.font-effect-3d-float {
  text-shadow: 0 0.032em 0 #b0b0b0, 0px 0.15em 0.11em rgba(0,0,0,0.15), 0px 0.25em 0.021em rgba(0,0,0,0.1), 0px 0.32em 0.32em rgba(0,0,0,0.1);
  color: #fff;
}
